@charset "utf-8";

@media screen and (min-width:767px) and (max-width: 1024px){
  header{
    position:relative;
    background: #f1f1f1;
    width:100%; height: 70px; z-index: 100;
  }
  header h1{
		top: 40%; left: 10%; width: 10%;
    text-align: right;
    position: absolute;
    transform: translateX(-50%);
	}
  header h1 img{width:100%;}


  /* ★ 모바일 햄버거 토글 ★ */
  #toggle{
    display:block;
    padding:8px;
    position: absolute; right:3%;top:24px;
    width:32px;height:32px;
    z-index: 1002;
  }
  #toggle span{
    display:inline-block;
    width:32px;height:2px;
    background:#396ccc;
    position:absolute;
    transition:0.5s;
  }
  #toggle span:first-child{top:12px;}
  #toggle span:nth-child(2){top:22px;}
  #toggle span:last-child{bottom:12px;}

  .rotate1{
    transform:rotate(45deg);
    left:9px;
    top:23px !important;
  }
  .rotate2{
    transform:rotate(-45deg);
    bottom: 23px !important;
    right:7px;
  }



  /* ★ 모바일 내비게이션 서식 ★ */
  header .gnb{position:absolute; top: 100%; z-index:1001;}
  /* 메인메뉴 */
  .gnb{
    width:100%;
    position: absolute;
    right: 0%; /*top: 10px;*/
    display:none;
    align-items:center;
  }
  .gnb > ul{
    width:100%;
    display: flex;
    margin: 0px auto;
    border-radius: 30px;
  }
  .gnb > ul > li{
    width: 15%;
    background: #333;
  }
  .gnb li a{
    color: #fff;
    display: block;
    line-height:300%;
    font-size:1rem;
    text-align:center;
  }
  .gnb ul li a i{margin-left: 5px;}
  .on{color: #6babff !important; font-weight: 700;}
  /* 서브메뉴 */
  .sub{
    display: flex; justify-content: space-around;
    position:absolute; width: 95%; left: 2%;
    box-shadow: 0px 3px 2px #ccc; border:1px solid #ccc; background: #ffffff;
    z-index: 100;
  }
  .sub > li > a{color: #333;}

  /* pc,태블릿 회원가입 로그인 */
  nav.lnb > ul{
    display: flex;
  }
  .lnb > ul > li{
    margin-right: 20px;
  }
  .lnb > ul > li > a{
    position: absolute; top: 60%; right: 25%;
    font-size: 0.9rem; height: 15px;
    /* border: 1px solid #f00; */
  }
  .lnb > ul > li > .lnb_login{color: #396ccc;}
  .lnb > ul > li > .lnb_join{right: 15%;}

  /* pc 검색폼 */
  fieldset > #sear_btn{
    position: absolute;
    top: 40%; left: 40%;
    padding: 10px;
    border: none; border-bottom: 1.5px solid #333;
    background: none;
  }
  fieldset > p > .fa-search{
    position: absolute;
    top: 55%; left: 61%;
    font-size: 1rem;
  }
  fieldset > .src_close_btn, fieldset > a > .fa-search > span{display: none;}

  /* 모바일 */
  .gnb label > i.fa-xmark, .gnb a > label.fa-search, .gnb input[type="search"], .gnb a > label > span, .gnb > ul > li:nth-child(8), .gnb > ul > li:last-child, .gnb > .inner_btn > a.fa-search{display: none;}

  header > fieldset > a.fa-search{
    position: absolute; top: 55%; left: 60%;
    font-size: 1rem;
  }

  
  
  
  /* 메인 서식 */
  /* 1. 메인 슬라이드 서식 */
  .visual{
    position: relative;
    height: 83vh;
    background: #f1f1f1;
    overflow: hidden;
  }
  .visual > h2{display: none;}
  .visual > div{
    position: absolute; width: 100%;
  }
  .visual > div > p{ /* 쓰는 존재와 읽는 당신 사이, */
    font-size: 40px;
    position: absolute;
    top: 310px; right: 10%;
    text-align: right;
    z-index: 2;
  }
  .visual > div > p > span{ /* 삶의 틈을 문학으로 채우다 */
    font-size: 55px; color: #fff;
    background: #333;
    padding: 0px 10px;
    font-weight: bold;
    line-height: 100px;
  }
  .visual > .slide1 > img{position: absolute;}
  .visual > .slide1 > .slide1_book{ /* 책 */
    width: 100%;
    top: 100px; left: -10%;
    transform: rotate(-7deg);
    z-index: 1;
  }
  .visual > .slide1 > .slide1_text{ /* 텍스트 */
    width: 70%;
    top: 70px; left: 30%;
    animation: rotate;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
  }
  
  
  /* 2. 유튜브/블로그 컨텐츠 서식 */
  .media_con{width: 100%; background: #414141;}
  .media_con > .media_box{display: block; justify-content: center; padding: 30px 0px;}
  /* 유튜브 */
  .media_you{width: 100%; margin-bottom: 80px; display: block; text-align: center;}
  .media_you > iframe{width: 500px; height: 280px;}
  .media_you p, .media_blg > p{color: #fff; font-size: 1rem;}
  .media_you p > span, .media_blg > p > span{line-height: 50px; font-size: 1.5rem; font-weight: bold;}
  /* 블로그 */
  .media_blg{width: 100%; text-align: center;}
  .media_blg a > img{width: 65%;}
  
  
  /* 3. 탭콘텐츠 (신간/베스트) */
  .tab_con{background: #fff; overflow: hidden;}
  .tab_con article{
    width: 100%; height: 730px;
    margin: 0px auto;
  }
  .tab_con article > h2{display: none;}
  .tab_con_wrap{
    display: flex;
    padding-top: 50px;
    position: relative;
    justify-content: center;
  }
  .tab_con_wrap > li > a{
    padding: 10px;
    font-size: 17px;
    margin: 5px;
  }
  .tab_con_wrap > li > a:hover{text-decoration: none; color: #396ccc;}
  
  .t_act{background: url('../img/mark_icon.png') no-repeat center left !important;}
  
  /* 슬라이드 */
  
  .cont{
    height: 500px;
    position:absolute;
    /* border: 1px solid #f00; */
    width:100%;left:20px;top:90px;
    display: none;
    overflow: hidden;
  }
  
  .new > .cont{display: block;}
  
  .cont > ul{
    display: flex;
    width: 300%;
    justify-content: space-around;
    position: absolute; left:0px;
    transform: translateY(10px);
    /* border: 2px solid #00f; */
  }
  .cont > ul > li{width: 240px; margin: 30px; position: relative;}
  .cont > ul > li:first-child{margin-left: 0px;}
  .cont > ul > li > a > img{width: 100%; box-shadow: 0px 4px 10px 0px rgba(0,0,0,.25);}
  
  .cont > ul > li > p{line-height: 15px;}
  .cont > ul > li > .book_title{
    font-weight: bold; font-size: 15px;
    margin: 10px 0px;
  }
  .cont > ul > li > .book_write > span{font-weight: bold; margin-right: 7px;}
  .cont > ul > li > .book_text{margin-top: 10px; color: #6D6D6D;}
  
  /* 컨트롤 */
  .cont{
    height: 550px;
  }
  .new_ctrl_btn{
    position: absolute; bottom: 0px;
    width: 100%;
    text-align: center;
  }
  .c_btn{
    width: 15px; height: 15px;
    margin: 0px 3px;
    display: inline-block;
    background: #D1D1D1; border-radius: 50%;
    cursor: pointer;
  }
  .c_act{background: #396ccc;}
  
  
  /* 4. 북클럽 / 북샵 서식 */
  .book_s, .book_o{
    background: #D6D6D7;
    width: 100%;
    text-align: center;
    position: relative;
  }
  .book_o{border-top: 2px solid #b9b9b9;}
  .book_s > img, .book_o > img{width: 100%;}
  
  .book_s > p, .book_o > p{
    position: absolute;
    font-size: 15px;
    line-height: 30px;
  }
  .book_s > p{top: 15%; left: 15%; text-align: left;}
  .book_o > p{top: 30%; right: 17%; text-align: right;}
  .book_s > p > .text_blue, .book_o > p > .text_blue{color: #396ccc;}
  .book_s > p > .text_title, .book_o > p > .text_title{font-size: 25px; font-weight: bold;}

  /* 버튼 */
  .book_s > input, .book_o > input{
    background: #333; color: #fff;
    border-radius: 50px; border: none;
    font-weight: bold;
    padding: 5px 10px; 
    position: absolute;
    cursor: pointer;
  }
  .book_s > input{top: 50%; left: 15%;}
  .book_o > input{top: 65%; right: 16%;}
  .book_s .book_img_m, .book_o .book_img_m, .book_img_p{display: none;}
  
  
  /* 5. 민음사 멤버십 슬라이드 서식 */
  .event{
    width:100%;
    margin:100px auto;
    position:relative;
  }
  .event > h2{
    font-size:23px; font-weight:bold;
    padding-bottom:20px;
    text-align: center;
  }
  .e_slide{
    display:flex; position:relative;
    overflow:hidden;
  }
  .es_wrap{display:flex; width:340%;}
  .es_wrap div{
    width: 90%;
    padding: 0px; margin: 0px auto;
  }
  .es_wrap div a img{border-radius: 10px;}
  .es_wrap div a{text-align: center;}
  .es_wrap div a div{text-align: left;}
  .event > .e_slide > .es_wrap > div > a > .e_txt > p{line-height: 30px;}
  .event i.fas{
    position:absolute;
    top:120px;
    font-size:30px;
    padding:5px 12px;
    border-radius:50%;
    border:1px solid #333;
    background:#fff;
  }
  .event i.fa-angle-left{left:-70px;}
  .event i.fa-angle-right{right:-50px;}
  .e_slide{display: block; text-align: left;}
  .e_slide a{display:block; height: 370px;}
  .e_slide .e_txt{padding: 0px 0px 0px 40px;}
  .e_txt h3{
    width: 90%; padding: 0px 20px;
    font-weight: bold; font-size:20px; line-height:60px;
    background: #6b6b6b; color: #fff;
  }
  .e_txt p{
    width: 90%; padding: 5px 20px;
    background: rgb(235, 235, 235);
    font-size:16px;
  }
  .event i.fa-angle-left{left: 10px;}
  .event i.fa-angle-right{right: 10px;}
  
  
  /* 6. 인스타그램 */
  .instar{padding: 40px 0px; background: #333;}
  .instar > h2{
    width: 100%;
    margin: 0px auto;
    display: block;
    font-weight: bold; font-size: 1.4rem; text-align: center;
    padding-bottom: 10px;
    color: #fff;
  }
  .id_name{
    font-size: 0.95rem; font-weight: normal;
    display: block;
    line-height: 300%;
  }
  
  .gallery > li{overflow: hidden;}
  .gallery{
    margin: 0px auto; padding: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3, auto);
  }
  .gallery img{width: 100%; transition: all 0.3s linear;}
  .gallery img:hover{transform: scale(1.05);}
  
  
    /* 7. 모달윈도(팝업레이어) */
    .modal{
      position: fixed; top: 0px;
      width: 100%; height: 100%;
      background: rgba(266,266,266,.5);
      z-index: 9999;
    }
    .modal > .banner{
      position: absolute;
      top: 50%; left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 380px; height: 380px;
    }
    .modal > .banner > .banner_box{box-shadow: 0px 0px 10px 1px rgba(0,0,0,.3);}
    .banner_text{
      width: 95%;
      background: #fff;
      margin-top: -1.5px; padding: 10px 9.5px;
      display: flex; justify-content: space-between;
    }
    .banner_text > label{
      font-weight: bold; line-height: 50px;
    }
    .banner_text > #modal_cbtn{
      border: none; background: #fff;
      padding: 5px 5px;
      font-weight: bold;
      cursor: pointer;
    }
  
  
  /* ******************** */
  /* 푸터서식 */
  footer{
    width: 100%;
    background: #222; color: #fff;
    z-index: 1;
  }
  .f_inner{background: #444;}
  .f_inner a{transition: 0.5s;}
  .f_inner a:hover{text-decoration: none;}
  .f_inner nav{
    display: flex; justify-content: space-between;
    width: 100%; margin: 0px auto; padding: 50px 0px;
  }
  footer dl{line-height: 30px;}
  footer dl dt{font-size: 16px;}
  footer dl dt a{
    color: rgb(106, 188, 255);
    font-weight: bold; font-size: 16px;
  }
  footer dl dd a{color: #d1d1d1;}
  
  /* sns 서식 */
  footer dl:last-child{text-align: center;}
  footer dl:last-child dt{font-size: 18px;}
  footer .sns i.fab{
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 6px 8px; margin: 18px 6px 0px 6px;
    transition: 0.5s;
  }
  .sns dd i.fab:hover{color: rgb(106, 188, 255); border: 1px solid rgb(106, 188, 255);}
  
  /* address 서식 */
  address{
    display: flex; justify-content: space-between;
    height: 70px;
  }
  address > .f_logo{width: 100px; padding: 10px 0px 0px 5%;}
  address > .f_logo > a > img{width: 100%;}
  address p{padding-right: 3%; line-height: 70px;}
  
    /* top 서식 */
    .t_btn{
      font-size: 1.2rem;
      position: fixed; bottom: 10%; right: 5%;
      background: rgba(115, 176, 255, 0.8);border-radius: 50px; color: #fff;
      padding: 15px;
      display: none;
      z-index: 999;
    }

}